* {
  margin:0 auto;
  font-family:"Segoe UI";
}

:root{
  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);
  --color-blue-900: oklch(37.9% 0.146 265.522);
  --color-blue-950: oklch(28.2% 0.091 267.935);
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-100: oklch(96.8% 0.007 247.896);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);
  --shadow-2xs: box-shadow: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-none: box-shadow: 0 0 #0000;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:cornflowerblue;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:cornflowerblue;
}
#banner{
  background-color:blue;
  color:white;
}
#footer{
  background-color:cornflowerblue;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.card a{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.card a:hover{
  background-color:cornflowerblue;
}
#panel{
  flex:1;
}

.card img{
  width:90%;
}
.filter{
  display:flex;
  background-color: #dff2ff;
  border:1px solid black;
  
}
#output{

}
